<div class="option"
      [class.option-disabled]="todoData.disabled || disabled"
      [class.option-selected]="todoData.checked" 
      [ngClass]="customClass"
>
      <div class="d-flex align-items-center">
            <input type="checkbox" 
                  name="multiSelect" 
                  [id]="todoData.id" 
                  [value]="todoData.value" 
                  [checked]="todoData.checked" 
                  [disabled]="todoData.disabled || disabled" 
                  class="option-icon" 
                  (change)="checkTodo($event)"
                  [ngClass]="customClass"
            >
            <label [for]="todoData.id" class="todoData-label">{{todoData.title}} : {{todoData.description}}</label>
      </div>
      <div class="">
            <!-- <button (click)="editTodo(todoData._id)"><i class="fa fa-edit" aria-hidden="true"></i></button> -->
            <button (click)="deleteTodo(todoData._id)"><i class="fa fa-trash" aria-hidden="true"></i></button>
      </div>
</div>
