<!-- <ng-container *ngFor="let date of bufferCalendarData; let i=index">
      <div class="tile-container">
            {{date.date}}
      </div>
</ng-container> -->
<div class="calendar container" *ngIf="!isLoading">
      <div class="calendar-controls row d-flex justify-content-center">
            <div class="col-6 d-flex justify-content-between">
                  <button (click)="decreaseCurrentMonth()"><i class="fa fa-angle-left"></i></button>
                  <p>{{currentMonthText}}</p>
                  <button (click)="increaseCurrentMonth()"><i class="fa fa-angle-right"></i></button>
            </div>
      </div>
      <div class="row">
            <div class="col p-0"><span class="m-1">Monday</span></div>
            <div class="col p-0"><span class="m-1">Tuesday</span></div>
            <div class="col p-0"><span class="m-1">Wednesday</span></div>
            <div class="col p-0"><span class="m-1">Thursday</span></div>
            <div class="col p-0"><span class="m-1">Friday</span></div>
            <div class="col p-0"><span class="m-1">Saturday</span></div>
            <div class="col p-0"><span class="m-1">Sunday</span></div>
      </div>
      <div class="calendar-dates">
            <div *ngFor="let week of displayCalendarData; let i=index" class="calendar-daterow row">
                  <div *ngFor="let date of week.weekData" class="col p-0 m-1">
                        <div class="tile-container" [ngClass]="{'tile-container':!date.isEmpty, 'tile-container-empty': date.isEmpty}" (click)="openToDoModal(date.dateString)">
                              <div class="tile-date">
                                    {{date.date}}
                              </div>
                              <div class="tile-todos">
                                    <ng-container *ngIf="date.todos && date.todos.length > 0">
                                          <i class="fa fa-solid fa-check" aria-hidden="true"></i>
                                          {{date.todos?date.todos.length:''}}
                                    </ng-container>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</div>
<div class="loading-container" *ngIf="isLoading">
	<app-loading-spinner></app-loading-spinner>
</div>
<app-modal #modalRef [date]="selectedDate"></app-modal>
