<ng-container *ngIf="isOpen">
      <div class="modal-container">
            <div class="d-flex justify-content-end">
                  <span class="button-close" (click)="hideModal()">Close</span>
            </div>
            <div class="row">
                  <div class="col-8">
                        <!-- <div class="" *ngFor="let toDo of toDoList">
                              {{todo.description}}
                        </div> -->
                  </div>
                  <div class="col-4">
                        <div class="">
                              <input type="text">
                        </div>
                        <button (click)="addTodo()">Add</button>
                  </div>
            </div>


      </div>
</ng-container>
