<div class="container" *ngIf="!isLoading" [ngClass]="{'flip-bg': goToSignup}">
	<div class="flip-container">
		<div class="login" [ngClass]="{'flip-login': goToSignup}">
			<form (ngSubmit)="onLogin(loginForm)" #loginForm="ngForm">
				<h1>LOGIN</h1>
				<!-- <div class="social-container">
					<a href="#" class="social"><i class="fa-facebook-f"></i></a>
					<a href="#" class="social"><i class="fa-google-plus-g"></i></a>
					<a href="#" class="social"><i class="fa-linkedin-in"></i></a>
				</div>
				<span>or use your account</span> -->
				  <div class="form-row">
					<!-- <label for="email">Email</label> -->
					<input 
					type="email" 
					id="email" 
					name="email" 
					value="" 
					ngModel 
					required 
					#email="ngModel"
					placeholder="Email"
					/>
				  </div>
				<app-error *ngIf="!email.valid && email.touched" class="error-message" [errorMessage]="'Please enter a name!'"></app-error>
				<div class="form-row">
					<!-- <label for="password">Password</label> -->
					<input 
					type="password" 
					id="password" 
					name="password"  
					ngModel 
					required 
					#password="ngModel"
					placeholder="Password"
					/>
				</div>
				<span *ngIf="!password.valid && password.touched" class="error-message">Please enter a password!</span>

				<a (click)="flipCard()">Do not have an account? <span class="clickable-link">Sign up.</span></a>
				<div class="form-row submit-row">
					<button type="submit" class="ghost" [disabled]="!loginForm.valid">Login</button>
				</div>
				<!-- <a href="#">Forgot your password?</a> -->
				<app-error *ngIf="incorrectCredentialsError" class="error-message" [errorMessage]="'Incorrect credentials!'"></app-error>
		    </form>
		</div>
		<div class="signup" [ngStyle]="{'transform': setFlipClass()}" [ngClass]="{'flip-card': goToSignup}">	
			<form (ngSubmit)="onSignup(signupForm)" #signupForm="ngForm">
				<h1>SIGN UP</h1>
				<!-- <div class="social-container">
					<a href="#" class="social"><i class="fa-facebook-f"></i></a>
					<a href="#" class="social"><i class="fa-google-plus-g"></i></a>
					<a href="#" class="social"><i class="fa-linkedin-in"></i></a>
				</div>
				<span>or use your account</span> -->
				<div class="form-row">
				<input 
					type="email" 
					id="username" 
					name="username" 
					value="" 
					ngModel 
					required 
					#username="ngModel"
					placeholder="Email"
				/>
				</div>
				<app-error *ngIf="!username.valid && username.touched" class="error-message" [errorMessage]="'Please enter a name!'"></app-error>
				<div class="form-row">
				<input 
					type="password" 
					id="password" 
					name="password"  
					ngModel 
					required 
					#password="ngModel"
					placeholder="Password"
				/>
				</div>
				<app-error *ngIf="!password.valid && password.touched" class="error-message" [errorMessage]="'Please enter a password!'"></app-error>
				<a (click)="flipCard()">Already have an account? <span class="clickable-link">Log in.</span></a>
				<div class="form-row submit-row">
					<button type="submit" class="ghost" [disabled]="!signupForm.valid">SIGN UP</button>
				</div>
				<!-- <span *ngIf="signupFailedError" class="error-message">Signup failed!</span> -->
				<app-error [errorMessage]="'Signup failed!'" *ngIf="signupFailedError"></app-error>
			</form>
		</div>
	</div>
</div>
<div class="loading-container" *ngIf="isLoading">
	<app-loading-spinner></app-loading-spinner>
</div>
    
    
